READNIK.md
local.env
#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code

.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env
database-service/kubernetes/cronjob.yaml
database-service/kubernetes/secret.yaml
operator-database/config/rbac/role.yaml
operator-application-scaler/README-DELEEUW.md
versions_local.env
scripts/script-automation.log
scripts/temp.log
scripts/fedora-coreos-36.20220507.1.0-qemu.x86_64.qcow2.xz
scripts/podman-machine-default_fedora-coreos-36.20220507.1.0-qemu.x86_64.qcow2
